input {
  beats {
    port => 5044
    tags => ["winlogbeat"]
  }
}

filter {
  # filters would go here once you have need for them
}

output {
  if "winlogbeat" in [tags] {
    elasticsearch {
      hosts => ["http://localhost:9200"]
      index => "winlogbeat-%{+YYYY.MM}"
      # Forcing to use the default template to fix case (in)sensitive issues
      #template => "/usr/share/logstash/templates/winlogbeat.json"
      #template_name => "winlogbeat"
      #template_overwrite => "false"
    }
  }
}
